/*
	Name: Gobierno Transparente, Base Stylesheet
*/

/* Global ************************************************/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #333;
  line-height: 1.5em;
}

/* headings */
h1, h2, h3 {
  margin-bottom: 24px;
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
  line-height: 1em;
  font-family: 'Brawler', serif;
}
h2 {
  font-size: 1.375em;
  line-height: 1.0909em;
}
h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* paragraphs */
p {
  margin-bottom: 24px;
}
* p:last-child {margin-bottom: 0;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* links */
a {
  text-decoration: none;
  color: #006cc9;
}
a:hover {
  text-decoration: underline;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.blue-btn {
	background-color: #0067ce;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#0496d9), to(#0067ce));
	background-image: -moz-linear-gradient(top, #0496d9, #0067ce);
	background-image: -ms-linear-gradient(top, #0496d9, #0067ce);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0496d9), color-stop(100%, #0067ce));
	background-image: -webkit-linear-gradient(top, #0496d9, #0067ce);
	background-image: -o-linear-gradient(top, #0496d9, #0067ce);
	background-image: linear-gradient(top, #0496d9, #0067ce);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0496d9', endColorstr='#0067ce', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0067ce #0067ce #22697d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
}
.btn.green-btn {
	background-color: #57a957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57a957 #57a957 #3d773d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

/* tables */
table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: separate;
  font-size: 0.9em;
}
table th, 
table td {
  padding: 0.7em;
  line-height: 1em;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
table th {
  padding-top: 1em;
  font-weight: bold;
  border-bottom-width: 2px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #666666;
}
table .even td {
	background-color: #f8f8f8;
}
table .break td {
	background-color: #ddffdd;
	color: #439043;
}
table tr:hover td {
  background-color: #ffffcc;
}
table colgroup.time {
	width: 10em;
}

/* header */
header {
	height: 2.5em;
	margin-bottom: 1.5em;
  -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEEF3), -webkit-linear-gradient(left, #EAEEF3, #EAEEF3 97%, #D3D7DB);
}
header a {
	display: block;
	color: #e6e7e8;
	padding: 0.33em 0;
}
header a:hover {
	color: #ffffff;
	text-decoration: none;
}
header h1 {
	float: left;
	margin-bottom: 0;
}
header nav {
	float: right;
}
header nav li {
	float: left;
}
header nav li a {
	padding: 0.5em 1em;
	border-left: 1px solid #373737;
}
header nav li.active a,
header nav a:hover {
	background-color: #0c0c0c;
}

/* contents */
section,
.wrapper {
	width: 80%;
	margin: 0 auto;
}
section {
	padding-bottom: 3em;
}
.hidden {
	display: none;
}
.wrapper section {
	width: 49%;
	float: left;
}

/* footer */
footer {
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 1px solid #dddedf;
	font-size: 0.75em;
	width: 100%;
}
footer li a {
	float: left;
	padding: 0.5em 1em;
	color: #1e1e1e;
}

/* Section Specific ************************************************/



/* Media Queries ************************************************/
@media screen and (min-width: 2000px) { 
	.wrapper,
	section {
		width: 1500px;
	}
}
@media screen and (max-width: 1200px) { 
	.wrapper,
	section {
		width: 90%;
	}
}
@media screen and (max-width: 700px) { 
	header {
		height: auto;
		overflow: auto;
	}
	header h1 {
		display: block;
		float: none;
	}
	header nav {
		float: left;
	}
	header nav li a {
		border-left: 0;
		padding-left: 0;
	}
	header nav li.active a {
		background-color: inherit;
	}
	header nav li a:hover {
		background-color: inherit;
		text-decoration: underline;
	}
	footer {
		position: relative;
	}
	footer li a {
		background: none;
		padding-left: 0;
		margin: 0;
		font-size: 0.7em;
	}
	footer li a.email {
		padding-left: 0;
	}
	.wrapper section {
		width: 100%;
		float: none;
	}
}

/* IE ************************************************/
.ie6 .wrapper,
.ie6 section,
.ie7 .wrapper,
.ie7 section {
	width: 960px;
}
.ie6 footer,
.ie7 footer {
	background-color: #f1f1f2;
}
