body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:426px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:500px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:220px;
    top:14px;
    width:180px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_original {
    background-image: url('../Header_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px
}

.u5 {
    position:absolute;
    left:10px;
    top:16px;
    width:220px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Header_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:260px
}

.u9_hover {
    background-image: url('../Header_files/u9_hover.png');
}

.u9_disabled {
    background-image: url('../Header_files/u9_disabled.png');
}

.u9_original {
    background-image: url('../Header_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:49px;
}

.u10 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px
}

.u11_disabled {
    background-image: url('../Header_files/u11_disabled.png');
}

.u11_original {
    background-image: url('../Header_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:50px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px
}

.u13_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u13_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u13_original {
    background-image: url('../Header_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px
}

.u15_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u15_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u15_original {
    background-image: url('../Header_files/u13_original.png');
}

.u15_container {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px
}

.u17 {
    position:absolute;
    left:802px;
    top:18px;
    width:83px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../Header_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:12px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-5px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px
}

.u20 {
    position:absolute;
    left:790px;
    top:13px;
    width:109px;
    height:25px
}

.u21 {
    position:absolute;
    left:607px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:21px;
    top:713px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:66px;
    top:710px;
    width:30px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:103px;
    top:713px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_original {
    background-image: url('../Filtro_1_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:155px;
    top:710px;
    width:20px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:155px;
    top:710px;
    width:20px;
    height:20px
}

.u28_original {
    background-image: url('../Filtro_1_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:180px;
    top:710px;
    width:20px;
    height:20px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:180px;
    top:710px;
    width:20px;
    height:20px
}

.u30_line {
    background-image: url('../Filtro_1_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:10px;
    top:694px;
    width:890px;
    height:3px;
}

.u30 {
    position:absolute;
    left:10px;
    top:694px;
    width:890px;
    height:3px
}

.u31 {
    position:absolute;
    left:10px;
    top:70px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_line {
    background-image: url('../Filtro_1_files/u32_line.png');
}

.u32_line {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px;
}

.u32 {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px
}

.u33_hover {
    background-image: url('../Filtro_1_files/u33_hover.png');
}

.u33_disabled {
    background-image: url('../Filtro_1_files/u33_disabled.png');
}

.u33_original {
    background-image: url('../Filtro_1_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px
}

.u35_line {
    background-image: url('../Filtro_1_files/u35_line.png');
}

.u35_line {
    position:absolute;
    left:10px;
    top:264px;
    width:890px;
    height:3px;
}

.u35 {
    position:absolute;
    left:10px;
    top:264px;
    width:890px;
    height:3px
}

.u36 {
    position:absolute;
    left:300px;
    top:120px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:300px;
    top:166px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:300px;
    top:145px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:300px;
    top:185px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:10px;
    top:120px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:10px;
    top:166px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:10px;
    top:145px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:10px;
    top:185px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:10px;
    top:205px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:10px;
    top:225px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:150px;
    top:120px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:150px;
    top:166px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:150px;
    top:145px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:150px;
    top:185px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u50_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u50_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u50_container {
    position:absolute;
    left:130px;
    top:365px;
    width:90px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:130px;
    top:365px;
    width:90px;
    height:25px
}

.u52_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u52_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u52_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u52_container {
    position:absolute;
    left:230px;
    top:365px;
    width:110px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:230px;
    top:365px;
    width:110px;
    height:25px
}

.u54_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:141px;
    top:372px;
    width:16px;
    height:11px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u55 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:141px;
    top:372px;
    width:16px;
    height:11px
}

.u56_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:240px;
    top:369px;
    width:17px;
    height:16px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u57 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:240px;
    top:369px;
    width:17px;
    height:16px
}

.u58_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:10px;
    top:280px;
    width:110px;
    height:110px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u59 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:10px;
    top:280px;
    width:110px;
    height:110px
}

.u60_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:20px;
    top:290px;
    width:90px;
    height:90px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u61 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:20px;
    top:290px;
    width:90px;
    height:90px
}

.u62 {
    position:absolute;
    left:130px;
    top:282px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:130px;
    top:310px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u64_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u64_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u64_container {
    position:absolute;
    left:590px;
    top:365px;
    width:90px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:590px;
    top:365px;
    width:90px;
    height:25px
}

.u66_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u66_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u66_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u66_container {
    position:absolute;
    left:690px;
    top:365px;
    width:110px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:690px;
    top:365px;
    width:110px;
    height:25px
}

.u68_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u68_container {
    position:absolute;
    left:601px;
    top:372px;
    width:16px;
    height:11px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:601px;
    top:372px;
    width:16px;
    height:11px
}

.u70_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u70_container {
    position:absolute;
    left:700px;
    top:369px;
    width:17px;
    height:16px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:700px;
    top:369px;
    width:17px;
    height:16px
}

.u72_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u72_container {
    position:absolute;
    left:470px;
    top:280px;
    width:110px;
    height:110px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u73 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:470px;
    top:280px;
    width:110px;
    height:110px
}

.u74_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u74_container {
    position:absolute;
    left:480px;
    top:290px;
    width:90px;
    height:90px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u75 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:480px;
    top:290px;
    width:90px;
    height:90px
}

.u76 {
    position:absolute;
    left:590px;
    top:282px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:590px;
    top:310px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u78_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u78_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u78_container {
    position:absolute;
    left:130px;
    top:505px;
    width:90px;
    height:25px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u79 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:130px;
    top:505px;
    width:90px;
    height:25px
}

.u80_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u80_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u80_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u80_container {
    position:absolute;
    left:230px;
    top:505px;
    width:110px;
    height:25px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:230px;
    top:505px;
    width:110px;
    height:25px
}

.u82_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u82_container {
    position:absolute;
    left:141px;
    top:512px;
    width:16px;
    height:11px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u83 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:141px;
    top:512px;
    width:16px;
    height:11px
}

.u84_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u84_container {
    position:absolute;
    left:240px;
    top:509px;
    width:17px;
    height:16px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u85 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:240px;
    top:509px;
    width:17px;
    height:16px
}

.u86_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u86_container {
    position:absolute;
    left:10px;
    top:420px;
    width:110px;
    height:110px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u87 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:10px;
    top:420px;
    width:110px;
    height:110px
}

.u88_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u88_container {
    position:absolute;
    left:20px;
    top:430px;
    width:90px;
    height:90px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u89 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:20px;
    top:430px;
    width:90px;
    height:90px
}

.u90 {
    position:absolute;
    left:130px;
    top:422px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:130px;
    top:450px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u92_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u92_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u92_container {
    position:absolute;
    left:590px;
    top:505px;
    width:90px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:590px;
    top:505px;
    width:90px;
    height:25px
}

.u94_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u94_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u94_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u94_container {
    position:absolute;
    left:690px;
    top:505px;
    width:110px;
    height:25px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:690px;
    top:505px;
    width:110px;
    height:25px
}

.u96_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u96_container {
    position:absolute;
    left:601px;
    top:512px;
    width:16px;
    height:11px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u97 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:601px;
    top:512px;
    width:16px;
    height:11px
}

.u98_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u98_container {
    position:absolute;
    left:700px;
    top:509px;
    width:17px;
    height:16px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u99 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:700px;
    top:509px;
    width:17px;
    height:16px
}

.u100_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u100_container {
    position:absolute;
    left:470px;
    top:420px;
    width:110px;
    height:110px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u101 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:470px;
    top:420px;
    width:110px;
    height:110px
}

.u102_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u102_container {
    position:absolute;
    left:480px;
    top:430px;
    width:90px;
    height:90px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u103 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:480px;
    top:430px;
    width:90px;
    height:90px
}

.u104 {
    position:absolute;
    left:590px;
    top:422px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:590px;
    top:450px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u106_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u106_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u106_container {
    position:absolute;
    left:130px;
    top:645px;
    width:90px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:130px;
    top:645px;
    width:90px;
    height:25px
}

.u108_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u108_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u108_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u108_container {
    position:absolute;
    left:230px;
    top:645px;
    width:110px;
    height:25px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:230px;
    top:645px;
    width:110px;
    height:25px
}

.u110_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u110_container {
    position:absolute;
    left:141px;
    top:652px;
    width:16px;
    height:11px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:141px;
    top:652px;
    width:16px;
    height:11px
}

.u112_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u112_container {
    position:absolute;
    left:240px;
    top:649px;
    width:17px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:240px;
    top:649px;
    width:17px;
    height:16px
}

.u114_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u114_container {
    position:absolute;
    left:10px;
    top:560px;
    width:110px;
    height:110px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u115 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:10px;
    top:560px;
    width:110px;
    height:110px
}

.u116_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u116_container {
    position:absolute;
    left:20px;
    top:570px;
    width:90px;
    height:90px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u117 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:20px;
    top:570px;
    width:90px;
    height:90px
}

.u118 {
    position:absolute;
    left:130px;
    top:562px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:130px;
    top:590px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_hover {
    background-image: url('../Filtro_1_files/u50_hover.png');
}

.u120_disabled {
    background-image: url('../Filtro_1_files/u50_disabled.png');
}

.u120_original {
    background-image: url('../Filtro_1_files/u50_original.png');
}

.u120_container {
    position:absolute;
    left:590px;
    top:645px;
    width:90px;
    height:25px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:590px;
    top:645px;
    width:90px;
    height:25px
}

.u122_hover {
    background-image: url('../Filtro_1_files/u52_hover.png');
}

.u122_disabled {
    background-image: url('../Filtro_1_files/u52_disabled.png');
}

.u122_original {
    background-image: url('../Filtro_1_files/u52_original.png');
}

.u122_container {
    position:absolute;
    left:690px;
    top:645px;
    width:110px;
    height:25px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:690px;
    top:645px;
    width:110px;
    height:25px
}

.u124_original {
    background-image: url('../Filtro_1_files/u54_original.png');
}

.u124_container {
    position:absolute;
    left:601px;
    top:652px;
    width:16px;
    height:11px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u125 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:601px;
    top:652px;
    width:16px;
    height:11px
}

.u126_original {
    background-image: url('../Filtro_1_files/u56_original.png');
}

.u126_container {
    position:absolute;
    left:700px;
    top:649px;
    width:17px;
    height:16px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u127 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:700px;
    top:649px;
    width:17px;
    height:16px
}

.u128_original {
    background-image: url('../Filtro_1_files/u58_original.png');
}

.u128_container {
    position:absolute;
    left:470px;
    top:560px;
    width:110px;
    height:110px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:116px;
}

.u129 {
    position:absolute;
    left:2px;
    top:47px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:470px;
    top:560px;
    width:110px;
    height:110px
}

.u130_original {
    background-image: url('../Filtro_1_files/u60_original.png');
}

.u130_container {
    position:absolute;
    left:480px;
    top:570px;
    width:90px;
    height:90px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:90px;
}

.u131 {
    position:absolute;
    left:2px;
    top:37px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:480px;
    top:570px;
    width:90px;
    height:90px
}

.u132 {
    position:absolute;
    left:590px;
    top:562px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:590px;
    top:590px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

