body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:426px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:500px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:220px;
    top:14px;
    width:180px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_original {
    background-image: url('../Header_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u4 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px
}

.u5 {
    position:absolute;
    left:10px;
    top:16px;
    width:220px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Header_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px;
}

.u6 {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:260px
}

.u9_hover {
    background-image: url('../Header_files/u9_hover.png');
}

.u9_disabled {
    background-image: url('../Header_files/u9_disabled.png');
}

.u9_original {
    background-image: url('../Header_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:49px;
}

.u10 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px
}

.u11_disabled {
    background-image: url('../Header_files/u11_disabled.png');
}

.u11_original {
    background-image: url('../Header_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:50px;
}

.u12 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px
}

.u13_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u13_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u13_original {
    background-image: url('../Header_files/u13_original.png');
}

.u13_container {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px
}

.u15_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u15_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u15_original {
    background-image: url('../Header_files/u13_original.png');
}

.u15_container {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px
}

.u17 {
    position:absolute;
    left:802px;
    top:18px;
    width:83px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_original {
    background-image: url('../Header_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:12px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-5px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px
}

.u20 {
    position:absolute;
    left:790px;
    top:13px;
    width:109px;
    height:25px
}

.u21 {
    position:absolute;
    left:607px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../Filtro_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px;
}

.u23 {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px
}

.u24 {
    position:absolute;
    left:10px;
    top:70px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_hover {
    background-image: url('../Filtro_files/u25_hover.png');
}

.u25_disabled {
    background-image: url('../Filtro_files/u25_disabled.png');
}

.u25_original {
    background-image: url('../Filtro_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px
}

.u27_line {
    background-image: url('../Filtro_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:10px;
    top:279px;
    width:890px;
    height:3px;
}

.u27 {
    position:absolute;
    left:10px;
    top:279px;
    width:890px;
    height:3px
}

.u28 {
    position:absolute;
    left:340px;
    top:120px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:340px;
    top:166px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:340px;
    top:145px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:340px;
    top:185px;
    width:190px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:10px;
    top:120px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:10px;
    top:166px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:10px;
    top:145px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:10px;
    top:185px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:10px;
    top:205px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:10px;
    top:225px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:170px;
    top:120px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:170px;
    top:166px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:170px;
    top:145px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:170px;
    top:185px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:170px;
    top:205px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:170px;
    top:225px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_original {
    background-image: url('../Filtro_files/u44_original.png');
}

.u44_container {
    position:absolute;
    left:10px;
    top:294px;
    width:890px;
    height:26px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:32px;
}

.u45 {
    position:absolute;
    left:2px;
    top:5px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:10px;
    top:294px;
    width:890px;
    height:26px
}

.u46_original {
    background-image: url('../Filtro_files/u46_original.png');
}

.u46_container {
    position:absolute;
    left:10px;
    top:420px;
    width:890px;
    height:90px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u47 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:10px;
    top:420px;
    width:890px;
    height:90px
}

.u48 {
    position:absolute;
    left:120px;
    top:299px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:20px;
    top:299px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:240px;
    top:299px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:120px;
    top:340px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:20px;
    top:340px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:240px;
    top:340px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u54_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u54_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u54_container {
    position:absolute;
    left:680px;
    top:340px;
    width:90px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:680px;
    top:340px;
    width:90px;
    height:25px
}

.u56_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u56_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u56_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u56_container {
    position:absolute;
    left:780px;
    top:340px;
    width:110px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:780px;
    top:340px;
    width:110px;
    height:25px
}

.u58_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u58_container {
    position:absolute;
    left:691px;
    top:347px;
    width:16px;
    height:11px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u59 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:691px;
    top:347px;
    width:16px;
    height:11px
}

.u60_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u60_container {
    position:absolute;
    left:790px;
    top:344px;
    width:17px;
    height:16px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u61 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:790px;
    top:344px;
    width:17px;
    height:16px
}

.u62 {
    position:absolute;
    left:21px;
    top:923px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:66px;
    top:920px;
    width:30px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:103px;
    top:923px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_original {
    background-image: url('../Filtro_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:155px;
    top:920px;
    width:20px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:155px;
    top:920px;
    width:20px;
    height:20px
}

.u67_original {
    background-image: url('../Filtro_files/u67_original.png');
}

.u67_container {
    position:absolute;
    left:180px;
    top:920px;
    width:20px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:180px;
    top:920px;
    width:20px;
    height:20px
}

.u69_line {
    background-image: url('../Filtro_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:10px;
    top:904px;
    width:890px;
    height:3px;
}

.u69 {
    position:absolute;
    left:10px;
    top:904px;
    width:890px;
    height:3px
}

.u70_original {
    background-image: url('../Filtro_files/u70_original.png');
}

.u70_container {
    position:absolute;
    left:63px;
    top:300px;
    width:17px;
    height:16px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u71 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:63px;
    top:300px;
    width:17px;
    height:16px
}

.u72 {
    position:absolute;
    left:120px;
    top:430px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:20px;
    top:430px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:240px;
    top:430px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u75_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u75_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u75_container {
    position:absolute;
    left:680px;
    top:430px;
    width:90px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:680px;
    top:430px;
    width:90px;
    height:25px
}

.u77_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u77_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u77_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u77_container {
    position:absolute;
    left:780px;
    top:430px;
    width:110px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:780px;
    top:430px;
    width:110px;
    height:25px
}

.u79_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u79_container {
    position:absolute;
    left:691px;
    top:437px;
    width:16px;
    height:11px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u80 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:691px;
    top:437px;
    width:16px;
    height:11px
}

.u81_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u81_container {
    position:absolute;
    left:790px;
    top:434px;
    width:17px;
    height:16px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u82 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:790px;
    top:434px;
    width:17px;
    height:16px
}

.u83_original {
    background-image: url('../Filtro_files/u46_original.png');
}

.u83_container {
    position:absolute;
    left:10px;
    top:610px;
    width:890px;
    height:90px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u84 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:10px;
    top:610px;
    width:890px;
    height:90px
}

.u85 {
    position:absolute;
    left:120px;
    top:530px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:20px;
    top:530px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:240px;
    top:530px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u88_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u88_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u88_container {
    position:absolute;
    left:680px;
    top:530px;
    width:90px;
    height:25px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:680px;
    top:530px;
    width:90px;
    height:25px
}

.u90_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u90_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u90_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u90_container {
    position:absolute;
    left:780px;
    top:530px;
    width:110px;
    height:25px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u91 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:780px;
    top:530px;
    width:110px;
    height:25px
}

.u92_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u92_container {
    position:absolute;
    left:691px;
    top:537px;
    width:16px;
    height:11px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u93 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:691px;
    top:537px;
    width:16px;
    height:11px
}

.u94_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u94_container {
    position:absolute;
    left:790px;
    top:534px;
    width:17px;
    height:16px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u95 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:790px;
    top:534px;
    width:17px;
    height:16px
}

.u96 {
    position:absolute;
    left:120px;
    top:620px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:20px;
    top:620px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:240px;
    top:620px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u99_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u99_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u99_container {
    position:absolute;
    left:680px;
    top:620px;
    width:90px;
    height:25px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u100 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:680px;
    top:620px;
    width:90px;
    height:25px
}

.u101_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u101_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u101_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u101_container {
    position:absolute;
    left:780px;
    top:620px;
    width:110px;
    height:25px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u102 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:780px;
    top:620px;
    width:110px;
    height:25px
}

.u103_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u103_container {
    position:absolute;
    left:691px;
    top:627px;
    width:16px;
    height:11px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u104 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:691px;
    top:627px;
    width:16px;
    height:11px
}

.u105_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u105_container {
    position:absolute;
    left:790px;
    top:624px;
    width:17px;
    height:16px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u106 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:790px;
    top:624px;
    width:17px;
    height:16px
}

.u107_original {
    background-image: url('../Filtro_files/u46_original.png');
}

.u107_container {
    position:absolute;
    left:10px;
    top:800px;
    width:890px;
    height:90px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u108 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:10px;
    top:800px;
    width:890px;
    height:90px
}

.u109 {
    position:absolute;
    left:120px;
    top:720px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:20px;
    top:720px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:240px;
    top:720px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u112_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u112_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u112_container {
    position:absolute;
    left:680px;
    top:720px;
    width:90px;
    height:25px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:680px;
    top:720px;
    width:90px;
    height:25px
}

.u114_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u114_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u114_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u114_container {
    position:absolute;
    left:780px;
    top:720px;
    width:110px;
    height:25px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u115 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:780px;
    top:720px;
    width:110px;
    height:25px
}

.u116_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u116_container {
    position:absolute;
    left:691px;
    top:727px;
    width:16px;
    height:11px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u117 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:691px;
    top:727px;
    width:16px;
    height:11px
}

.u118_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u118_container {
    position:absolute;
    left:790px;
    top:724px;
    width:17px;
    height:16px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u119 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:790px;
    top:724px;
    width:17px;
    height:16px
}

.u120 {
    position:absolute;
    left:120px;
    top:810px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:20px;
    top:810px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:240px;
    top:810px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_hover {
    background-image: url('../Filtro_files/u54_hover.png');
}

.u123_disabled {
    background-image: url('../Filtro_files/u54_disabled.png');
}

.u123_original {
    background-image: url('../Filtro_files/u54_original.png');
}

.u123_container {
    position:absolute;
    left:680px;
    top:810px;
    width:90px;
    height:25px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u124 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:680px;
    top:810px;
    width:90px;
    height:25px
}

.u125_hover {
    background-image: url('../Filtro_files/u56_hover.png');
}

.u125_disabled {
    background-image: url('../Filtro_files/u56_disabled.png');
}

.u125_original {
    background-image: url('../Filtro_files/u56_original.png');
}

.u125_container {
    position:absolute;
    left:780px;
    top:810px;
    width:110px;
    height:25px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u126 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:780px;
    top:810px;
    width:110px;
    height:25px
}

.u127_original {
    background-image: url('../Filtro_files/u58_original.png');
}

.u127_container {
    position:absolute;
    left:691px;
    top:817px;
    width:16px;
    height:11px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u128 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:691px;
    top:817px;
    width:16px;
    height:11px
}

.u129_original {
    background-image: url('../Filtro_files/u60_original.png');
}

.u129_container {
    position:absolute;
    left:790px;
    top:814px;
    width:17px;
    height:16px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u130 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:790px;
    top:814px;
    width:17px;
    height:16px
}

.u132_original {
    background-image: url('../Filtro_files/u132_original.png');
}

.u132_container {
    position:absolute;
    left:20px;
    top:13px;
    width:320px;
    height:99px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:105px;
}

.u133 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:20px;
    top:13px;
    width:320px;
    height:99px
}

.u134_original {
    background-image: url('../Filtro_files/u134_original.png');
}

.u134_container {
    position:absolute;
    left:18px;
    top:10px;
    width:320px;
    height:100px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u135 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:18px;
    top:10px;
    width:320px;
    height:100px
}

.u136_original {
    background-image: url('../Filtro_files/u136_original.png');
}

.u136_container {
    position:absolute;
    left:3px;
    top:23px;
    width:15px;
    height:30px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:36px;
}

.u137 {
    position:absolute;
    left:2px;
    top:7px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:3px;
    top:23px;
    width:15px;
    height:30px
}

.u138 {
    position:absolute;
    left:29px;
    top:21px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:29px;
    top:40px;
    width:301px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_line {
    background-image: url('../Filtro_files/u140_line.png');
}

.u140_line {
    position:absolute;
    left:17px;
    top:24px;
    width:3px;
    height:28px;
}

.u140 {
    position:absolute;
    left:17px;
    top:24px;
    width:3px;
    height:28px
}

.u141 {
    position:absolute;
    left:170px;
    top:245px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:340px;
    top:205px;
    width:200px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

