body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../Listado_de_asuntos_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:26px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:32px;
}

.u1 {
    position:absolute;
    left:2px;
    top:5px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:26px
}

.u2_original {
    background-image: url('../Listado_de_asuntos_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:10px;
    top:230px;
    width:890px;
    height:90px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u3 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:230px;
    width:890px;
    height:90px
}

.u4 {
    position:absolute;
    left:426px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:500px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:220px;
    top:14px;
    width:180px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_original {
    background-image: url('../Header_files/u3_original.png');
}

.u7_container {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:380px;
    top:18px;
    width:16px;
    height:16px
}

.u9 {
    position:absolute;
    left:10px;
    top:16px;
    width:220px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../Header_files/u6_line.png');
}

.u10_line {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px;
}

.u10 {
    position:absolute;
    left:10px;
    top:49px;
    width:890px;
    height:3px
}

.u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:250px;
    height:260px
}

.u13_hover {
    background-image: url('../Header_files/u9_hover.png');
}

.u13_disabled {
    background-image: url('../Header_files/u9_disabled.png');
}

.u13_original {
    background-image: url('../Header_files/u9_original.png');
}

.u13_container {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:49px;
}

.u14 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:53px;
    top:90px;
    width:146px;
    height:43px
}

.u15_disabled {
    background-image: url('../Header_files/u11_disabled.png');
}

.u15_original {
    background-image: url('../Header_files/u11_original.png');
}

.u15_container {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:50px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:50px;
    top:86px;
    width:146px;
    height:44px
}

.u17_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u17_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u17_original {
    background-image: url('../Header_files/u13_original.png');
}

.u17_container {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:51px;
    top:87px;
    width:144px;
    height:20px
}

.u19_hover {
    background-image: url('../Header_files/u13_hover.png');
}

.u19_disabled {
    background-image: url('../Header_files/u13_disabled.png');
}

.u19_original {
    background-image: url('../Header_files/u13_original.png');
}

.u19_container {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:51px;
    top:107px;
    width:144px;
    height:20px
}

.u21 {
    position:absolute;
    left:802px;
    top:18px;
    width:83px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_original {
    background-image: url('../Header_files/u18_original.png');
}

.u22_container {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:14px;
    height:12px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-5px;
    width:4px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:883px;
    top:23px;
    width:8px;
    height:6px
}

.u24 {
    position:absolute;
    left:790px;
    top:13px;
    width:109px;
    height:25px
}

.u25 {
    position:absolute;
    left:607px;
    top:18px;
    width:100px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_line {
    background-image: url('../Listado_de_asuntos_files/u27_line.png');
}

.u27_line {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px;
}

.u27 {
    position:absolute;
    left:10px;
    top:104px;
    width:890px;
    height:3px
}

.u28 {
    position:absolute;
    left:120px;
    top:109px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:20px;
    top:109px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:240px;
    top:109px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:120px;
    top:150px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:20px;
    top:150px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:240px;
    top:150px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u34_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u34_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:680px;
    top:150px;
    width:90px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:680px;
    top:150px;
    width:90px;
    height:25px
}

.u36_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u36_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u36_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u36_container {
    position:absolute;
    left:780px;
    top:150px;
    width:110px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:780px;
    top:150px;
    width:110px;
    height:25px
}

.u38_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u38_container {
    position:absolute;
    left:691px;
    top:157px;
    width:16px;
    height:11px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:691px;
    top:157px;
    width:16px;
    height:11px
}

.u40_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u40_container {
    position:absolute;
    left:790px;
    top:154px;
    width:17px;
    height:16px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u41 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:790px;
    top:154px;
    width:17px;
    height:16px
}

.u42 {
    position:absolute;
    left:21px;
    top:733px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:66px;
    top:730px;
    width:30px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:103px;
    top:733px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_original {
    background-image: url('../Listado_de_asuntos_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:155px;
    top:730px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:155px;
    top:730px;
    width:20px;
    height:20px
}

.u47_original {
    background-image: url('../Listado_de_asuntos_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:180px;
    top:730px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:180px;
    top:730px;
    width:20px;
    height:20px
}

.u49_line {
    background-image: url('../Listado_de_asuntos_files/u49_line.png');
}

.u49_line {
    position:absolute;
    left:10px;
    top:714px;
    width:890px;
    height:3px;
}

.u49 {
    position:absolute;
    left:10px;
    top:714px;
    width:890px;
    height:3px
}

.u50 {
    position:absolute;
    left:10px;
    top:70px;
    width:220px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_hover {
    background-image: url('../Listado_de_asuntos_files/u51_hover.png');
}

.u51_disabled {
    background-image: url('../Listado_de_asuntos_files/u51_disabled.png');
}

.u51_original {
    background-image: url('../Listado_de_asuntos_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:800px;
    top:66px;
    width:100px;
    height:25px
}

.u53_original {
    background-image: url('../Listado_de_asuntos_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:63px;
    top:110px;
    width:17px;
    height:16px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u54 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:63px;
    top:110px;
    width:17px;
    height:16px
}

.u55 {
    position:absolute;
    left:120px;
    top:240px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:20px;
    top:240px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:240px;
    top:240px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u58_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u58_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u58_container {
    position:absolute;
    left:680px;
    top:240px;
    width:90px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:680px;
    top:240px;
    width:90px;
    height:25px
}

.u60_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u60_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u60_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u60_container {
    position:absolute;
    left:780px;
    top:240px;
    width:110px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:780px;
    top:240px;
    width:110px;
    height:25px
}

.u62_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u62_container {
    position:absolute;
    left:691px;
    top:247px;
    width:16px;
    height:11px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u63 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:691px;
    top:247px;
    width:16px;
    height:11px
}

.u64_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u64_container {
    position:absolute;
    left:790px;
    top:244px;
    width:17px;
    height:16px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u65 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:790px;
    top:244px;
    width:17px;
    height:16px
}

.u66_original {
    background-image: url('../Listado_de_asuntos_files/u2_original.png');
}

.u66_container {
    position:absolute;
    left:10px;
    top:420px;
    width:890px;
    height:90px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u67 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:10px;
    top:420px;
    width:890px;
    height:90px
}

.u68 {
    position:absolute;
    left:120px;
    top:340px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:20px;
    top:340px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:240px;
    top:340px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u71_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u71_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u71_container {
    position:absolute;
    left:680px;
    top:340px;
    width:90px;
    height:25px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u72 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:680px;
    top:340px;
    width:90px;
    height:25px
}

.u73_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u73_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u73_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u73_container {
    position:absolute;
    left:780px;
    top:340px;
    width:110px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:780px;
    top:340px;
    width:110px;
    height:25px
}

.u75_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u75_container {
    position:absolute;
    left:691px;
    top:347px;
    width:16px;
    height:11px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u76 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:691px;
    top:347px;
    width:16px;
    height:11px
}

.u77_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u77_container {
    position:absolute;
    left:790px;
    top:344px;
    width:17px;
    height:16px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u78 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:790px;
    top:344px;
    width:17px;
    height:16px
}

.u79 {
    position:absolute;
    left:120px;
    top:430px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:20px;
    top:430px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:240px;
    top:430px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u82_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u82_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u82_container {
    position:absolute;
    left:680px;
    top:430px;
    width:90px;
    height:25px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u83 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:680px;
    top:430px;
    width:90px;
    height:25px
}

.u84_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u84_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u84_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u84_container {
    position:absolute;
    left:780px;
    top:430px;
    width:110px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:780px;
    top:430px;
    width:110px;
    height:25px
}

.u86_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u86_container {
    position:absolute;
    left:691px;
    top:437px;
    width:16px;
    height:11px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u87 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:691px;
    top:437px;
    width:16px;
    height:11px
}

.u88_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u88_container {
    position:absolute;
    left:790px;
    top:434px;
    width:17px;
    height:16px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u89 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:790px;
    top:434px;
    width:17px;
    height:16px
}

.u90_original {
    background-image: url('../Listado_de_asuntos_files/u2_original.png');
}

.u90_container {
    position:absolute;
    left:10px;
    top:610px;
    width:890px;
    height:90px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:896px;
    height:96px;
}

.u91 {
    position:absolute;
    left:2px;
    top:37px;
    width:886px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:10px;
    top:610px;
    width:890px;
    height:90px
}

.u92 {
    position:absolute;
    left:120px;
    top:530px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:20px;
    top:530px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:240px;
    top:530px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u95_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u95_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u95_container {
    position:absolute;
    left:680px;
    top:530px;
    width:90px;
    height:25px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u96 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:680px;
    top:530px;
    width:90px;
    height:25px
}

.u97_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u97_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u97_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u97_container {
    position:absolute;
    left:780px;
    top:530px;
    width:110px;
    height:25px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u98 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:780px;
    top:530px;
    width:110px;
    height:25px
}

.u99_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u99_container {
    position:absolute;
    left:691px;
    top:537px;
    width:16px;
    height:11px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u100 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:691px;
    top:537px;
    width:16px;
    height:11px
}

.u101_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u101_container {
    position:absolute;
    left:790px;
    top:534px;
    width:17px;
    height:16px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u102 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:790px;
    top:534px;
    width:17px;
    height:16px
}

.u103 {
    position:absolute;
    left:120px;
    top:620px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:20px;
    top:620px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:240px;
    top:620px;
    width:420px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_hover {
    background-image: url('../Listado_de_asuntos_files/u34_hover.png');
}

.u106_disabled {
    background-image: url('../Listado_de_asuntos_files/u34_disabled.png');
}

.u106_original {
    background-image: url('../Listado_de_asuntos_files/u34_original.png');
}

.u106_container {
    position:absolute;
    left:680px;
    top:620px;
    width:90px;
    height:25px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:86px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:680px;
    top:620px;
    width:90px;
    height:25px
}

.u108_hover {
    background-image: url('../Listado_de_asuntos_files/u36_hover.png');
}

.u108_disabled {
    background-image: url('../Listado_de_asuntos_files/u36_disabled.png');
}

.u108_original {
    background-image: url('../Listado_de_asuntos_files/u36_original.png');
}

.u108_container {
    position:absolute;
    left:780px;
    top:620px;
    width:110px;
    height:25px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:31px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:106px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:780px;
    top:620px;
    width:110px;
    height:25px
}

.u110_original {
    background-image: url('../Listado_de_asuntos_files/u38_original.png');
}

.u110_container {
    position:absolute;
    left:691px;
    top:627px;
    width:16px;
    height:11px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:11px;
}

.u111 {
    position:absolute;
    left:2px;
    top:-2px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:691px;
    top:627px;
    width:16px;
    height:11px
}

.u112_original {
    background-image: url('../Listado_de_asuntos_files/u40_original.png');
}

.u112_container {
    position:absolute;
    left:790px;
    top:624px;
    width:17px;
    height:16px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:17px;
    height:16px;
}

.u113 {
    position:absolute;
    left:2px;
    top:0px;
    width:13px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:790px;
    top:624px;
    width:17px;
    height:16px
}

.u115_original {
    background-image: url('../Listado_de_asuntos_files/u115_original.png');
}

.u115_container {
    position:absolute;
    left:20px;
    top:13px;
    width:320px;
    height:99px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:105px;
}

.u116 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:20px;
    top:13px;
    width:320px;
    height:99px
}

.u117_original {
    background-image: url('../Listado_de_asuntos_files/u117_original.png');
}

.u117_container {
    position:absolute;
    left:18px;
    top:10px;
    width:320px;
    height:100px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u118 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:18px;
    top:10px;
    width:320px;
    height:100px
}

.u119_original {
    background-image: url('../Listado_de_asuntos_files/u119_original.png');
}

.u119_container {
    position:absolute;
    left:3px;
    top:23px;
    width:15px;
    height:30px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:36px;
}

.u120 {
    position:absolute;
    left:2px;
    top:7px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:3px;
    top:23px;
    width:15px;
    height:30px
}

.u121 {
    position:absolute;
    left:29px;
    top:21px;
    width:291px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:29px;
    top:40px;
    width:301px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_line {
    background-image: url('../Listado_de_asuntos_files/u123_line.png');
}

.u123_line {
    position:absolute;
    left:17px;
    top:24px;
    width:3px;
    height:28px;
}

.u123 {
    position:absolute;
    left:17px;
    top:24px;
    width:3px;
    height:28px
}

